/* src/style.sass: main CSS source file
 *
 * Copyright 2020 Sudaraka Wijesinghe <sudaraka@sudaraka.org>
 *
 * This program comes with ABSOLUTELY NO WARRANTY
 * This is free software, and you are welcome to redistribute it and/or modify
 * it under the terms of the BSD 2-clause License. See the LICENSE file for more
 * details.
 *
 */

$color-fg: darken(#bf263c, 15)
$color-bg: lighten(#ffce54, 20)

*
  box-sizing: border-box

html
  height: 100%

body
  background-color: $color-bg
  color: $color-fg

  & > footer
    display: grid
    margin-top: 2rem
    justify-items: center
    opacity: .25
    font-size: 1rem

    h6, p
      margin: 0
      font-size: smaller

    h6
      margin-bottom: .5rem

    a
      color: $color-fg

    @media (max-height: 420px)
      display: none

.timetable
  display: grid
  grid-template-columns: repeat(5, minmax(4rem, 1fr))
  grid-gap: .25rem

  h3
    background-color: $color-fg
    color: $color-bg
    font-weight: normal

  .cell
    border: 1px solid rgba(127, 25, 40, .1)
    margin: 0
    padding: .25rem
    text-align: center
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    min-height: 2.06rem

  .dow
    display: grid
    grid-template-rows: repeat(8, 1fr)
    grid-gap: .25rem
    font-weight: bold
    font-size: 1.1rem

    & > .cell:nth-child(4)
      border-bottom: 2px solid rgba(127, 25, 40, .2)

    & > .cell:nth-child(5)
      border-top: 2px solid rgba(127, 25, 40, .2)
